@charset "UTF-8";
body {
  max-width: 1450px;
  min-width: 320px;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: Arial, "微軟正黑體";
}

.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 9999;
}
.loading .internal {
  display: none;
}
.loading .logo-image {
  width: 100%;
  position: absolute;
  top: calc(50% - 35px);
}
.loading .logo-image .container {
  width: 0;
  margin: 0 auto;
  position: relative;
  display: table;
}
.loading .logo-image .container .overlay {
  width: 100%;
  height: 71px;
  left: 0;
  position: absolute;
  background: #fff;
  animation: overlay 4s linear forwards;
  -moz-animation: overlay 4s linear forwards;
  -webkit-animation: overlay 4s linear forwards;
}
.loading .logo-image .container img {
  width: 254px;
}
.loading .wrapper {
  top: 50%;
  left: calc(50% - 190px);
  opacity: 0;
  animation: wrapper 3.3s linear;
  -moz-animation: wrapper 3.3s linear;
  -webkit-animation: wrapper 3.3s linear;
}

@media screen and (max-width: 700px) {
  .loading .logo-image {
    top: calc(50% - 25px);
  }
  .loading .wrapper {
    top: 50%;
    left: 50%;
    animation: wrapper 1.8s linear;
    -moz-animation: wrapper 1.8s linear;
    -webkit-animation: wrapper 1.8s linear;
  }
}
@-moz-keyframes overlay {
  40% {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  70% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@-webkit-keyframes overlay {
  40% {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  70% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@keyframes overlay {
  40% {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  70% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@-moz-keyframes wrapper {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes wrapper {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes wrapper {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.phone-header {
  width: 100%;
  height: 70px;
  position: relative;
  display: none;
  background: #fff;
}
.phone-header img {
  width: 200px;
  padding: 10px;
}
.phone-header .nav-button {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 100;
  cursor: pointer;
}
.phone-header .nav-button img {
  width: 20px;
  padding: 0;
}
.phone-header .float {
  display: none;
}
.phone-header .float-button {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 50px;
  right: 20px;
  display: block;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
}
.phone-header .float-button img {
  padding-top: 5px;
}

@media screen and (max-width: 992px) {
  .phone-header {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .phone-header img {
    width: 140px;
    padding: 8px 10px;
  }
  .phone-header .nav-button {
    top: 15px;
    right: 5%;
  }
  .phone-header .float-button {
    right: 5%;
  }
}
.nav {
  position: fixed;
  left: 10px;
  top: 20%;
  z-index: 9998;
  display: none;
}
.nav .close {
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
  cursor: pointer;
}
.nav .floor-button {
  height: 21px;
  margin-bottom: 10px;
  padding: 2px 10px;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  display: table;
}
.nav .floor-button .floor-line {
  width: 20px;
  height: 1px;
  position: absolute;
  top: 12px;
  left: -20px;
  display: none;
  background: #004093;
}
.nav .floor-button .name {
  display: none;
}
.nav .floor-button:hover {
  background: #fff;
}
.nav .floor-button:hover .number {
  display: none;
}
.nav .floor-button:hover .name {
  display: block;
}
.nav .active, .nav .active:hover {
  background: #004093;
}
.nav .active .floor-line, .nav .active:hover .floor-line {
  display: block;
}
.nav .active .number, .nav .active:hover .number {
  display: none;
}
.nav .active .name, .nav .active:hover .name {
  display: block;
  color: #fff;
}
.nav .floor-index {
  display: none;
}
.nav .floor-dm .phone-name {
  display: none;
}
.nav .dm-button .number, .nav .dm-button .name, .nav .top .number, .nav .top .name {
  line-height: 23px;
}
.nav .top {
  cursor: pointer;
}

.nav-active {
  display: block;
}

@media screen and (max-width: 992px) {
  .nav {
    width: 100%;
    height: 100%;
    top: 0;
    left: auto;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
  }
  .nav .close {
    display: block;
  }
  .nav .all-floor-button {
    display: table;
  }
  .nav .floor-button {
    margin-bottom: 15px;
    font-size: 20px;
  }
  .nav .floor-button .name {
    margin-left: 10px;
    display: inline-block;
  }
  .nav .floor-button:hover {
    background: none;
  }
  .nav .floor-button:hover .number, .nav .floor-button:hover .name {
    display: inline-block;
  }
  .nav .active, .nav .active:hover {
    background: none;
  }
  .nav .active .floor-line, .nav .active:hover .floor-line {
    display: none;
  }
  .nav .active .number, .nav .active:hover .number {
    display: inline-block;
  }
  .nav .floor-index {
    margin-bottom: 21px;
    display: block;
  }
  .nav .floor-index a {
    text-decoration: none;
    color: #fff;
  }
  .nav .floor-dm .number, .nav .floor-dm .name, .nav .floor-dm:hover .number, .nav .floor-dm:hover .name {
    display: none;
  }
  .nav .floor-dm .phone-name, .nav .floor-dm:hover .phone-name {
    display: block;
  }
  .nav .top {
    display: none;
  }

  .nav-active {
    display: none;
  }

  .phone-nav-open {
    display: flex;
  }

  .phone-nav-close {
    display: none;
  }
}
@media screen and (max-width: 360px) {
  .nav .floor-button {
    margin-bottom: 10px;
  }
  .nav .floor-index {
    margin-bottom: 16px;
  }
}
.header {
  width: 100%;
  text-align: center;
  font-size: 16px;
  visibility: hidden;
  background: #004093;
  color: #fff;
}
.header a {
  padding: 10px 0;
  display: block;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 992px) {
  .header {
    position: fixed;
    bottom: 0;
    z-index: 9998;
    display: none;
  }

  .header-open {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .header {
    font-size: 14px;
  }
}
.slick-dots li button:before {
  font-size: 35px;
  opacity: 1;
}
.slick-dots .slick-active button {
  border-radius: 50%;
  border: 1px solid #000;
}
.slick-dots .slick-active button:before {
  font-size: 28px;
}

@media screen and (max-width: 992px) {
  .slick-dots li {
    margin: 0 10px;
  }
}
.all {
  display: none;
  background: #fff;
}
.all .banner {
  width: 1220px;
  padding-bottom: 80px;
  margin: 0 auto;
  position: relative;
}
.all .banner .carousel .slick-dots {
  bottom: -30px;
}
.all .banner .carousel .item {
  position: relative;
  outline: none;
}
.all .banner .carousel .item a {
  outline: none;
  text-decoration: none;
  color: #fff;
}
.all .banner .carousel .item img {
  width: 100%;
}
.all .banner .carousel .item .font {
  position: absolute;
  z-index: 110;
  top: 150px;
  left: 50px;
  display: table;
  color: #fff;
}
.all .banner .carousel .item .font .title {
  padding-bottom: 5px;
  font-size: 45px;
}
.all .banner .carousel .item .font .subtitle {
  padding-bottom: 10px;
  font-size: 25px;
}
.all .banner .carousel .item .font .content {
  padding-bottom: 10px;
  font-size: 16px;
}
.all .banner .carousel .item .font .shop {
  margin-top: 40px;
  padding: 5px 10px;
  font-size: 16px;
  text-decoration: none;
  outline: none;
  line-height: 150px;
  border: 1px solid #fff;
  background: #fff;
  color: #000;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.all .banner .carousel .item .font .shop:hover {
  border: 1px solid #fff;
  background: none;
  color: #fff;
}
.all .banner .carousel .item .phone-font {
  width: 100%;
  padding: 10px 20px;
  position: absolute;
  bottom: 0;
  display: none;
  font-size: 16px;
  background: rgba(0, 64, 147, 0.7);
  color: #fff;
}
.all .banner .carousel .item .phone-font span {
  margin-right: 10px;
  font-size: 25px;
}
.all .banner .background {
  width: 451px;
  height: 572px;
  position: absolute;
  top: 0;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
}
.all .banner .background img {
  padding: 25px 0 0 50px;
}
.all .phone-banner {
  display: none;
}

.display {
  display: block;
}

@media screen and (max-width: 1240px) {
  .all .banner {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .all .banner {
    padding-bottom: 30px;
  }
  .all .banner .carousel .slick-dots {
    bottom: -30px;
  }
  .all .banner .carousel .item .font {
    display: none;
  }
  .all .banner .carousel .item .phone-font {
    display: block;
    font-size: 20px;
  }
  .all .banner .carousel .item .phone-font span {
    font-size: 20px;
  }
  .all .banner .background {
    display: none;
  }
  .all .desktop-banner {
    display: none;
  }
  .all .phone-banner {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .all .banner .carousel .item .phone-font {
    padding: 10px 5px;
    font-size: 14px;
  }
  .all .banner .carousel .item .phone-font span {
    margin-right: 5px;
    font-size: 14px;
  }
}
.search {
  position: relative;
  background: #fff;
}
.search .scroll {
  margin: 0 auto;
  padding: 0 20px;
  display: table;
  cursor: pointer;
  text-align: center;
}
.search .scroll .icon-scroll {
  width: 40px;
  height: 70px;
  position: relative;
  border-radius: 25px;
  border: 2px solid #000;
  -moz-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -o-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}
.search .scroll .icon-scroll:before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 15px;
  left: 16px;
  border-radius: 4px;
  background: #000;
  animation: scroll 1.5s infinite;
  -moz-animation: scroll 1.5s infinite;
  -webkit-animation: scroll 1.5s infinite;
}
.search .scroll-line {
  width: 1px;
  height: 30px;
  margin: 0 auto;
  background: #686565;
}
.search .search-tag {
  width: 330px;
  height: 260px;
  padding: 0 20px;
  position: absolute;
  top: -155px;
  right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0.9;
  background: #004093;
}
.search .search-tag .title {
  padding-top: 45px;
  text-align: center;
  font-size: 30px;
  color: #fff;
}
.search .search-tag .tag {
  padding-top: 15px;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  color: #fff;
}
.search .search-tag .tag span {
  margin: 0 7px;
  display: inline-block;
}
.search .search-tag .tag span {
  cursor: pointer;
}
.search .search-tag .search-form {
  padding-top: 10px;
  text-align: center;
}
.search .search-tag .search-form img {
  margin-right: 5px;
  position: relative;
  top: 8px;
  cursor: pointer;
}
.search .search-tag .search-form .button {
  width: 75px;
  padding: 7px 15px;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  display: none;
  background: #000;
  color: #fff;
}
.search .search-tag .search-form input {
  width: 200px;
  height: 26px;
  font-size: 16px;
  text-align: center;
  border-radius: 0;
  border: none;
  outline: none;
}
.search .search-tag .search-form input::-webkit-input-placeholder {
  color: #004093;
}
.search .search-tag .search-form input::-moz-placeholder {
  color: #004093;
}
.search .search-tag .search-form input:-ms-input-placeholder {
  color: #004093;
}
.search .search-tag .search-form input:-moz-placeholder {
  color: #004093;
}

@media screen and (max-width: 992px) {
  .search .scroll, .search .scroll-line {
    display: none;
  }
  .search .search-tag {
    width: 60%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    position: static;
    background: none;
  }
  .search .search-tag .title, .search .search-tag .tag {
    display: none;
  }
  .search .search-tag .search-form {
    padding: 10px 0 0 0;
  }
  .search .search-tag .search-form img {
    display: none;
  }
  .search .search-tag .search-form .button {
    display: inline-block;
  }
  .search .search-tag .search-form input {
    width: calc(100% - 100px);
    margin-bottom: 10px;
    border: 1px solid #b9b9b9;
  }
  .search .search-tag .search-form input::-webkit-input-placeholder {
    color: #000;
  }
  .search .search-tag .search-form input::-moz-placeholder {
    color: #000;
  }
  .search .search-tag .search-form input:-ms-input-placeholder {
    color: #000;
  }
  .search .search-tag .search-form input:-moz-placeholder {
    color: #000;
  }
}
@media screen and (max-width: 480px) {
  .search .search-tag {
    width: 90%;
  }
}
@-moz-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -moz-transform: translateY(25px);
    -webkit-transform: translateY(25px);
    -o-transform: translateY(25px);
    -ms-transform: translateY(25px);
    transform: translateY(25px);
  }
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -moz-transform: translateY(25px);
    -webkit-transform: translateY(25px);
    -o-transform: translateY(25px);
    -ms-transform: translateY(25px);
    transform: translateY(25px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -moz-transform: translateY(25px);
    -webkit-transform: translateY(25px);
    -o-transform: translateY(25px);
    -ms-transform: translateY(25px);
    transform: translateY(25px);
  }
}
.dm {
  padding: 50px 100px 30px 0;
  overflow: auto;
  background: #e5e5e5;
}
.dm .dm-cover {
  width: 50%;
  float: left;
}
.dm .dm-cover .title {
  margin-left: 220px;
  font-size: 38px;
  letter-spacing: 5px;
  border-bottom: 1px solid #000;
}
.dm .dm-cover .title .more {
  padding: 25px 20px 0 0;
  float: right;
  text-decoration: none;
  font-size: 14px;
  color: #000;
}
.dm .dm-cover .image {
  height: 380px;
  margin: 15px 80px 0 0;
  padding-top: 70px;
  text-align: center;
  background: #b1d2d4;
}
.dm .dm-cover .image img {
  padding: 15px;
  background: #fff;
}
.dm .dm-product {
  width: 50%;
  float: left;
}
.dm .dm-product .block {
  width: calc(50% - 15px);
  height: 250px;
  margin: 7.5px;
  padding: 40px 0 20px 0;
  text-align: center;
  float: left;
  background: #fff;
}
.dm .dm-product .block a {
  text-decoration: none;
  outline: none;
  color: #000;
}
.dm .dm-product .block a img {
  width: 135px;
  height: 135px;
  margin: 0 auto 20px auto;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.dm .dm-product .block a .Ceud_Prm_Title {
  display: none;
}
.dm .dm-product .block a .Ceud {
  margin-bottom: 15px;
  padding: 0 10px;
  font-size: 16px;
  line-height: 25px;
  word-break: break-all;
  overflow: hidden;
}
.dm .dm-product .block a .Price_all {
  text-align: center;
  font-size: 14px;
  color: #b41c22;
}
.dm .dm-product .block a .Price_all .Price {
  font-size: 18px;
}
.dm .dm-product .block a:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.dm .phone-more {
  display: none;
}

@media screen and (max-width: 1240px) {
  .dm {
    padding: 30px 30px 30px 0;
  }
  .dm .dm-cover .title {
    margin-left: 120px;
  }
}
@media screen and (max-width: 992px) {
  .dm {
    padding: 30px 0;
  }
  .dm .dm-cover {
    width: 100%;
    float: none;
  }
  .dm .dm-cover .title {
    width: 80%;
    margin: 0 auto;
    font-size: 30px;
  }
  .dm .dm-cover .title .more {
    padding: 20px 20px 0 0;
    display: none;
  }
  .dm .dm-cover .image {
    display: none;
  }
  .dm .dm-product {
    width: 80%;
    margin: 30px auto 0 auto;
    float: none;
    overflow: auto;
  }
  .dm .phone-more {
    margin-top: 30px;
    display: block;
    text-align: center;
  }
  .dm .phone-more a {
    padding: 8px 15px;
    text-decoration: none;
    background: #000;
    color: #fff;
  }
}
@media screen and (max-width: 650px) {
  .dm .dm-product .block a .Ceud {
    height: 50px;
  }
}
@media screen and (max-width: 480px) {
  .dm .dm-cover .title {
    width: 90%;
  }
  .dm .dm-product {
    width: 90%;
  }
  .dm .dm-product .block {
    width: calc(50% - 10px);
    margin: 5px;
  }
  .dm .dm-product .block a img {
    width: 110px;
    height: 110px;
  }
}
.photo {
  width: 100%;
  height: 500px;
  position: relative;
}
.photo .carousel .item {
  width: 100%;
  height: 500px;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (max-width: 992px) {
  .photo {
    display: none;
  }
}
.floor .sort {
  width: 100%;
  padding: 150px 0 0 100px;
  overflow: auto;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
}
.floor .sort .sort-image {
  width: 25%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.floor .sort .sort-image img {
  width: 100%;
}
.floor .sort .chop {
  width: calc(50% - 100px);
  padding-bottom: 40px;
  position: relative;
  float: left;
  border-left: 1px solid #000;
}
.floor .sort .chop .sort-line {
  width: 160px;
  height: 1px;
  position: absolute;
  top: 85px;
  left: 22%;
  z-index: 100;
  background: #000;
}
.floor .sort .chop .sort-title {
  width: 60%;
  padding: 45px 35px 50px 40px;
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #000;
}
.floor .sort .chop .sort-title .umber {
  margin-bottom: 10px;
  font-size: 30px;
}
.floor .sort .chop .sort-title .title-name {
  margin-bottom: 15px;
  font-size: 32px;
  letter-spacing: 5px;
}
.floor .sort .chop .sort-title .tag {
  line-height: 30px;
  font-size: 14px;
}
.floor .sort .chop .sort-title .tag span {
  margin-right: 5px;
}
.floor .sort .chop .chop-block {
  width: 100%;
  margin-top: 30px;
  float: left;
}
.floor .sort .chop .chop-block .font {
  width: 80px;
  height: 310px;
  padding-left: 20px;
  -moz-writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
  -o-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  writing-mode: tb-lr;
  float: left;
  font-size: 30px;
}
.floor .sort .chop .chop-block .logo {
  width: calc(100% - 100px);
  float: left;
}
.floor .sort .chop .chop-block .logo a {
  height: 100%;
  display: block;
  text-decoration: none;
  color: #000;
}
.floor .sort .chop .chop-block .logo .left {
  border-left: 1px solid #d8d8d8;
}
.floor .sort .chop .chop-block .logo .bottom {
  border-bottom: 1px solid #d8d8d8;
}
.floor .sort .chop .chop-block .logo .logo-block {
  width: 33%;
  height: 58px;
  position: relative;
  float: left;
  display: table;
  font-size: 14px;
  line-height: 58px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.floor .sort .chop .chop-block .logo .logo-block .logo-line {
  width: 0;
  height: 1px;
  position: absolute;
  bottom: 2px;
  left: 0;
  background: #fff;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.floor .sort .chop .chop-block .logo .logo-block:hover {
  background: #004093;
}
.floor .sort .chop .chop-block .logo .logo-block:hover .logo-line {
  width: 100%;
}
.floor .sort .chop .chop-block .logo .logo-block:hover a {
  color: #fff;
}
.floor .sort .chop .chop-block .three-logo .logo-block {
  height: 58px;
  line-height: 58px;
}
.floor .sort .chop .chop-block .button {
  margin-top: 20px;
  cursor: pointer;
  text-align: center;
  float: right;
  border: 1px solid #000;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.floor .sort .chop .chop-block .button a {
  padding: 5px 10px;
  display: block;
  text-decoration: none;
  color: #000;
}
.floor .sort .chop .chop-block .button:hover {
  border: 1px solid #000;
  background: #000;
  color: #fff;
}
.floor .sort .chop .chop-block .button:hover a {
  color: #fff;
}
.floor .sort .chop .chop-block .modal {
  width: 60%;
  padding: 70px 100px;
  position: fixed;
  bottom: 50px;
  left: calc(20% - 100px);
  z-index: 9998;
  display: none;
  background: rgba(0, 64, 147, 0.9);
  color: #fff;
}
.floor .sort .chop .chop-block .modal .remove {
  position: absolute;
  top: 25px;
  right: 30px;
  cursor: pointer;
}
.floor .sort .chop .chop-block .modal .remove img {
  width: 20px;
}
.floor .sort .chop .chop-block .modal .title {
  padding: 0 0 10px 35px;
  font-size: 35px;
  border-bottom: 1px solid #fff;
}
.floor .sort .chop .chop-block .modal .category {
  padding: 50px 0 0 35px;
}
.floor .sort .chop .chop-block .modal .category .subtitle {
  padding-bottom: 15px;
  font-size: 30px;
}
.floor .sort .chop .chop-block .modal .category .tag .modal-button {
  margin: 10px 1px 0 1px;
  padding: 5px 10px;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid #004093;
  background: #fff;
  color: #004093;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.floor .sort .chop .chop-block .modal .category .tag .modal-button:hover {
  background: none;
  border: 1px solid #fff;
  color: #fff;
}
.floor .sort .product-block {
  width: calc(50% - 30px);
  position: relative;
  float: left;
}
.floor .sort .product-block .commodity {
  padding: 40px 0 0 40px;
}
.floor .sort .product-block .commodity .slick-list {
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
}
.floor .sort .product-block .commodity .slick-arrow {
  width: 34px;
  height: 34px;
  top: auto;
  bottom: -15px;
  right: -45px;
  left: auto;
  text-align: center;
  background: #cfd4d4;
}
.floor .sort .product-block .commodity .slick-arrow img {
  width: 15px;
  height: 29px;
}
.floor .sort .product-block .commodity .slick-next {
  bottom: -60px;
}
.floor .sort .product-block .commodity .slick-disabled {
  visibility: hidden;
}
.floor .sort .product-block .commodity .block {
  height: 360px;
  padding: 60px 0 40px 0;
  text-align: center;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 1px solid #d8d8d8;
}
.floor .sort .product-block .commodity .block a {
  text-decoration: none;
  outline: none;
  color: #000;
}
.floor .sort .product-block .commodity .block a img {
  width: 135px;
  height: 135px;
  margin: 0 auto 20px auto;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.floor .sort .product-block .commodity .block a .Ceud {
  margin-bottom: 15px;
  padding: 0 10px;
  font-size: 16px;
  line-height: 25px;
  word-break: break-all;
  overflow: hidden;
}
.floor .sort .product-block .commodity .block a .Price_all {
  text-align: center;
  font-size: 14px;
  color: #b41c22;
}
.floor .sort .product-block .commodity .block a .Price_all .Price {
  font-size: 18px;
}
.floor .sort .product-block .commodity .block a:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.floor .sort .commodity-line {
  width: 100px;
  height: 1px;
  margin-top: 250px;
  float: right;
  background: #000;
}
.floor .visualization {
  width: 100%;
  height: 400px;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (max-width: 1366px) {
  .floor .sort {
    padding: 120px 0 0 100px;
  }
  .floor .sort .sort-image {
    width: 20%;
  }
  .floor .sort .chop .sort-line {
    left: 8%;
  }
  .floor .sort .chop .sort-title {
    width: 70%;
    padding: 45px 35px 50px 30px;
  }
  .floor .sort .chop .sort-title .title-name {
    font-size: 32px;
  }
  .floor .sort .chop .chop-block .font {
    height: 280px;
    font-size: 27px;
  }
  .floor .sort .product-block .commodity .block a img {
    width: 110px;
    height: 110px;
  }
}
@media screen and (max-width: 1240px) {
  .floor .sort {
    padding: 100px 0 0 60px;
  }
  .floor .sort .chop {
    width: calc(50% - 50px);
  }
  .floor .sort .chop .sort-line {
    width: 100px;
    top: 65px;
    left: 16%;
  }
  .floor .sort .chop .sort-title {
    padding: 25px 30px 20px 40px;
  }
  .floor .sort .chop .chop-block .font {
    width: 40px;
    padding-left: 15px;
  }
  .floor .sort .chop .chop-block .logo {
    width: calc(100% - 55px);
  }
  .floor .sort .chop .chop-block .modal {
    padding: 70px 50px;
    left: calc(20% - 50px);
  }
  .floor .sort .chop .chop-block .modal .title {
    padding: 0 0 10px 15px;
  }
  .floor .sort .chop .chop-block .modal .category {
    padding: 50px 0 0 15px;
  }
  .floor .sort .product-block {
    width: calc(50% + 10px);
  }
  .floor .sort .product-block .commodity {
    padding: 40px 0 0 20px;
  }
  .floor .sort .product-block .commodity .slick-arrow {
    right: -30px;
  }
  .floor .sort .commodity-line {
    width: 30px;
  }
}
@media screen and (max-width: 992px) {
  .floor .floor-frame {
    width: 100%;
    height: 200px;
    position: relative;
  }
  .floor .floor-frame .floor-images {
    width: 100%;
    height: 500px;
    position: absolute;
    bottom: -100px;
    z-index: -2;
    background-position: center bottom;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -moz-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }
  .floor .sort {
    width: 100%;
    height: auto;
    padding: 50px 0;
    float: none;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  .floor .sort .sort-image img {
    display: none;
  }
  .floor .sort .chop {
    width: 100%;
    float: none;
    overflow: auto;
    border-left: none;
  }
  .floor .sort .chop .sort-line {
    display: none;
  }
  .floor .sort .chop .sort-title {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    float: none;
    border: none;
  }
  .floor .sort .chop .sort-title .umber, .floor .sort .chop .sort-title .tag {
    display: none;
  }
  .floor .sort .chop .sort-title .title-name {
    font-size: 30px;
  }
  .floor .sort .chop .chop-block {
    position: relative;
  }
  .floor .sort .chop .chop-block .font {
    display: none;
  }
  .floor .sort .chop .chop-block .logo {
    width: 80%;
    margin: 0 auto;
    float: none;
    overflow: auto;
  }
  .floor .sort .chop .chop-block .logo .logo-block {
    width: calc(33.3333333% - 1.5px);
  }
  .floor .sort .chop .chop-block .button {
    margin-top: 0;
    position: absolute;
    top: -50px;
    right: 10%;
    float: none;
  }
  .floor .sort .chop .chop-block .modal {
    width: 90%;
    padding: 20px 20px;
    left: calc(5% - 20px);
  }
  .floor .sort .chop .chop-block .modal .category .tag .modal-button {
    margin: 10px 0 0 0;
    padding: 2px 5px;
    font-size: 14px;
  }
  .floor .sort .product-block {
    width: calc(80% + 20px);
    margin: 0 auto;
    float: none;
  }
  .floor .sort .product-block .commodity {
    padding: 0;
  }
  .floor .sort .product-block .commodity .slick-arrow {
    top: 50%;
    right: -35px;
    bottom: auto;
  }
  .floor .sort .product-block .commodity .slick-prev {
    left: -35px;
    right: auto;
  }
  .floor .sort .product-block .commodity .slick-disabled {
    opacity: 0.9;
    display: inline-block;
    visibility: visible;
    background: #a5a5a5;
  }
  .floor .sort .product-block .commodity .block a img {
    width: 135px;
    height: 135px;
  }
  .floor .sort .commodity-line {
    display: none;
  }
  .floor .visualization {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .floor .floor-frame {
    height: 250px;
  }
  .floor .floor-frame .floor-images {
    width: 100%;
  }
  .floor .sort {
    padding: 50px 0 100px 0;
    overflow: visible;
  }
  .floor .sort .chop .sort-title {
    width: 90%;
  }
  .floor .sort .chop .chop-block .logo {
    width: 90%;
  }
  .floor .sort .chop .chop-block .logo .logo-block {
    width: 32.9%;
    font-size: 12px;
  }
  .floor .sort .chop .chop-block .button {
    right: 5%;
  }
  .floor .sort .chop .chop-block .modal {
    width: 90%;
    padding: 20px 10px;
    left: calc(5% - 10px);
  }
  .floor .sort .chop .chop-block .modal .title {
    padding: 0 0 10px 10px;
    font-size: 25px;
  }
  .floor .sort .chop .chop-block .modal .category {
    padding: 20px 0 0 10px;
  }
  .floor .sort .chop .chop-block .modal .category .subtitle {
    font-size: 20px;
  }
  .floor .sort .chop .chop-block .modal .category .tag .modal-button {
    margin: 10px 0 0 0;
    padding: 2px 5px;
    font-size: 12px;
  }
  .floor .sort .product-block {
    width: calc(90% + 10px);
  }
  .floor .sort .product-block .commodity .slick-arrow {
    top: 115%;
  }
  .floor .sort .product-block .commodity .slick-prev {
    left: calc(50% - 36px);
  }
  .floor .sort .product-block .commodity .slick-next {
    right: calc(50% - 36px);
  }
  .floor .sort .product-block .commodity .block a img {
    width: 110px;
    height: 110px;
  }
}
@media screen and (max-width: 360px) {
  .floor .sort .chop .chop-block .logo .no-left {
    border-left: none;
  }
  .floor .sort .chop .chop-block .logo .no-bottom {
    border-bottom: none;
  }
  .floor .sort .chop .chop-block .logo .phone-left {
    border-left: 1px solid #d8d8d8;
  }
  .floor .sort .chop .chop-block .logo .logo-block {
    width: calc(50% - 1.5px);
    height: 40px;
    line-height: 40px;
  }
  .floor .sort .chop .chop-block .three-logo .logo-block {
    width: calc(100% - 2.5px);
    height: 40px;
    line-height: 40px;
  }
}
@media screen and (max-width: 992px) {
  .phone-bottom {
    width: 100%;
    height: 40px;
  }
}
